<!-- <h1>{{ title }}</h1> -->

<!-- Declaring ngIf and using logical operators on it -->

<!-- <div *ngIf="onlyif || elseif" class="bg-primary">
    Success message
</div> -->
<!-- <div *ngIf="!onlyif && elseif" class="bg-primary">
    Success message
</div> -->

<!-- using else -->

<!-- <div *ngIf="onlyif; then updated_msg else error_msg " class="bg-primary">
    Success message
</div>

<ng-template #error_msg>
    not Added
</ng-template>

<ng-template #updated_msg>
    Msg Updated
</ng-template>

<h3>ngFor</h3>

<ul>
    <li *ngFor="let objectFor of arrayName; index as i;first as f;last as l;even as e">
        <div *ngIf="f">
            First
        </div>
        <div *ngIf="e">
            {{ i }} {{ objectFor.firstName }} {{ objectFor.lastName }}
            <!-- {{ object }} It is called Interpollation used to display data
        </div>
            
        <!-- <div *ngIf="l">
            Last
        </div>
    </li>
</ul>

<h3>ngSwitch</h3>

<div [ngSwitch]="superHero">
    <div *ngSwitchCase="'superman'">Superman</div>
    <div *ngSwitchCase="'man'">man</div>
    <div *ngSwitchCase="'super'">Super</div>
    <div *ngSwitchCase=""></div>
</div>

<h3>ngStyle</h3>

<div [ngStyle]="{'background-color':'green'}">Test</div>

<div [ngStyle]="{'background-color':styleProp}">Dynamic</div>

<div [ngClass]="'c1'">C1</div>

<div [ngClass]="'c1 c2'">c1 C2 Multiple Classes</div>

<div [ngClass]="styleClassProp">C3</div>

<div [ngClass]="conditionClass === 'c4' ? 'c4' : 'c5'">Condition Class</div>

<div [ngClass]="{c4:true,c5:false}">objects</div>

<div [ngClass]="getClassNme()">objects</div> -->

<!-- data binding -->

<!-- 

<h1>Interpolation</h1>
    
<h1>{{ page_heading }}</h1>

<h6>{{ page_number }}</h6>

<h6>{{ user_object.first }}{{ user_object.second }}</h6>
-->


<!-- <h1>Property Binding</h1>

<div *ngIf="onlyif">
    <div></div>
</div>

<table>
    <tr>
        <th>ContactId</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <tr *ngFor="let contact of arrayName">
        <td [title]="contact.contactId">{{ contact.contactId }}</td>
        <td [title]="contact.firstName">{{ contact.firstName }}</td>
        <td>{{ contact.lastName }}</td>
    </tr>
</table>


<input [(ngModel)]="username" />

<table>
    <tr>
        <th>ContactId</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <tr *ngFor="let contact of arrayName">
        <td [title]="contact.contactId">{{ contact.contactId }}</td>
        <td [title]="contact.firstName">{{ contact.firstName }}</td>
        <td>{{ contact.lastName }}</td>
    </tr>
</table> -->

<!-- Event Binding -->
<!-- <button (click)="hello()">Event</button> -->

<!-- Angular Built In Pipes -->
<!-- <div>{{ loweCaseExample | lowercase }}</div>

<div>{{ upperCaseExample | uppercase }}</div>

<div>{{ dateExample | date }}</div>

<div>{{ jsonExample | json }}</div>

<div>{{ currencyExample | currency }}</div>

<div>{{ perExample | percent }}</div>

<div>{{ currencyExample | currency : 'INR' }}</div>

<div>{{ dateExample | date : 'long' }}</div>

<div>{{ perExample | percent : '3.1-1' }}</div>

chaining pipes

<div>{{ dateExample | date | uppercase }}</div> -->

<!-- <p>Main Component</p> -->
<!-- Multiple Router-outlet -->
<!-- <router-outlet></router-outlet>  -->
<!-- <router-outlet name="addLoan"></router-outlet> Named router outlet -->
<!--<router-outlet name="editLoan"></router-outlet>  Named router outlet -->